*.py[a-z]
*.so
\#*#
*#
*~
.DS_Store
*.swp
.vagrant

*.sublime-*
.idea
*.nja

env
.tox
.coverage
.APP_ENV
webapp/config/local.py
webapp/static/media/*
webapp/static/.webassets-cache
db.sqlite
Procfile
