{% extends "auth/layout.html" %}

{% block title %}Cambiar contraseña{% endblock %}

{% block content %}
{% if ok %}
<form>
  <div class="banner"></div>
    <fieldset>
      <h1>Contraseña cambiada.</h1>
      <a href="{{ auth.sign_in_redirect }}">Click aquí para continuar.</a>
    </fieldset>
  </form>
{% else %}
  <form action="" method="POST">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <div class="banner"></div>
    {% if error -%}
    <fieldset class="error">
      {%- if error == 'FAIL' -%}
        Contraseña actual es incorrecta.
      {%- elif error == 'TOO SHORT' -%}
        La contraseña que elegiste es muy corta <br>(debe tener al menos <code>{{ auth.password_minlen }}</code> caracteres).
      {%- elif error == 'MISMATCH' -%}
        La contraseña y su confirmación no concuerdan.
      {%- else -%}
        {{ error }}
      {%- endif -%}
    </fieldset>
    {%- endif %}

    <fieldset class="info">
      <h1>Cambiar contraseña</h1>
    </fieldset>

    {% if manual -%}
    <fieldset>
      <input type="password" name="password" size="20" tabindex="1"
        placeholder="contraseña actual"
        autocorrect="off" autocapitalize="off" autofocus>
    </fieldset>
    {%- endif %}

    <fieldset>
      <input type="password" name="np1" size="20" tabindex="2"
        placeholder="nueva contraseña"
        autocorrect="off" autocapitalize="off" >
      <input type="password" name="np2" size="20" tabindex="3"
        placeholder="confirmar contraseña"
        autocorrect="off" autocapitalize="off" >
    </fieldset>

    <fieldset class="actions">
      <a href="{% if manual %}javascript:history.back(1){% else %}{{ auth.sign_in_redirect }}{% endif %}" tabindex="5">Cancelar</a>
      <button class="btn" type="submit" tabindex="4">Cambiar contraseña &raquo;</button>
    </fieldset> 
  </form>
{%- endif %}
{% endblock %}
