<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Reiniciar contraseña</title>
  <style>
  body {
    background: #f4f4f4;
    color: #444;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    margin: 0 auto;
    padding: 100px 0;
  }
  </style>
</head>
</body>
  <p>Estimado(a) {{ login }},</p>

  <p>Para reiniciar tu contraseña de {{ config.SITE_NAME }}, <br>
  simplemente haz click en el enlace de abajo. <br>
  Esto te llevará a una página donde podrás crear una nueva contraseña.</p>

  <p>Por favor nota que el enlace solo será válido durante las <br>
  siguientes {{ expire_after / 60 }} horas desde que este email fué enviado.</p>

  <p><a href="{{ reset_url }}">{{ reset_url}}</a></p>
   
  <hr>

  <p>Si no estabas tratando de reiniciar tu contraseña, no te preocupes &mdash; 
  tu cuenta está segura y no se le ha dado acceso a nadie más.</p>

  <p>Gracias.</p>
</body>
</html>